body {
  min-height: 100vh;
  background-image: url(../media/grid.jpg);
  background-size: cover;
  font-family: "Indie Flower", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* --------------- TEST FORM --------------- */
.test_form {
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  margin: 1em 1em;
}

.test_form h1 {
  font-size: 5em;
  display: flex;
}

.main_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: black 5px solid;
  border-radius: 4% 96% 8% 92% / 95% 4% 96% 5%;
  margin: 2em 0em;
}

.form_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em;
  font-size: 1.5em;
}

.form_element label {
  font-weight: 900;
  cursor: pointer;
}
.form_element input[type="text"],
.form_element input[type="number"] {
  border: 2px solid black;
  border-radius: 4% 96% 8% 92% / 95% 4% 96% 5%;
  padding: 0.5em 0.5em;
  font-size: 1em;
  font-family: "Indie Flower", cursive;
  color: var(--pink);
  font-weight: 600;
  text-align: center;
}

/* CUSTOM CHECKMARK FOR NEGATIVE MARKING */
.negmark_div label {
  cursor: pointer;
  display: flex;
}
.negmark_div input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.negmark_div label::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  border-radius: 37% 63% 17% 83% / 55% 40% 60% 45%;
  margin-right: 0.5em;
  border: black 2px solid;
}
.negmark_div input[type="checkbox"]:checked + label::before {
  content: "\002714";
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pink);
}

.form_element select {
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  font-size: 0.8em;
  padding: 0.5em 0.5em;
  border: 2px solid black;
  border-radius: 12% 88% 11% 89% / 91% 13% 87% 9%;
}

.form_element input[type="submit"] {
  background-color: var(--green);
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  font-size: 1em;
  padding: 1em 1em;
  border: 2px solid black;
  border-radius: 12% 88% 11% 89% / 91% 13% 87% 9%;
}



/* --------------- TEST PAGE --------------- */
.test_page {
  /* display: flex; */
  display: none;
  font-size: 1.2em;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.test_page header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.test_page header .test_title {
  background-color: var(--light-pink);
  width: 100%;
  font-size: 3em;
}
.test_page header .question_details {
  background-color: var(--green);
  font-size: 1.3em;
}

.test_page .question_div {
  border: 2px solid black;
  border-radius: 1em;
  background-color: #ff8787a0;
  padding: 0.5em 0.5em;
  margin: 0.5em 0.5em;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.question_numbers_div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.test_page .question_div .upNumber_div {
  /* display: flex; */
}

.test_page .question_div .downNumber_and_sign_div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.test_page .question_div .input_answer_div {
  display: flex;
  width: 100%;
}
.test_page .question_div .input_answer_div input {
  padding: 0.1em 0em;
  font-size: 0.5em;
  font-family: "Indie Flower", cursive;
  text-align: right;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background: transparent;
  width: 100%;
  outline: none;
}

/* DIVISION ANSWER DIV  */
.test_page .question_div .division_answer_div {
  display: none;
  /* display: flex; */
  flex-direction: column;
  width: 100%;
}
.test_page .question_div .division_answer_div div {
  display: flex;
  margin: 0.25em 0em;
}
.test_page .question_div .division_answer_div input {
  margin: 0em 0.25em;
  padding: 0.1em 0em;
  font-size: 0.5em;
  font-family: "Indie Flower", cursive;
  text-align: right;
  border: none;
  border: 2px solid black;
  background: transparent;
  width: 100%;
  outline: none;
}



.test_page .question_div .submit_btn_div {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  width: 100%;
}
.test_page .question_div .submit_btn_div button {
cursor: pointer;
  font-size: 0.3em;
  font-family: "Indie Flower", cursive;
  padding: 0.5em 0.5em;
  border: 2px solid black;
  border-radius: 12% 88% 11% 89% / 91% 13% 87% 9%;
}

.test_page .question_div .submit_btn_div button:active, .submit_btn_div button:hover {
  background-color: var(--green);
}



/* --------------- START TEST --------------- */

.start_test_div {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
  background-color: var(--light-green);
  font-size: 3em;
  font-weight: 900;
  border: 2px solid black;
  border-radius: 12% 88% 11% 89% / 91% 13% 87% 9%;
}

.start_test_div ul {
  font-size: 0.5em;
}

.start_test_div .start_now_btn {
  font-size: 0.5em;
  font-family: "Indie Flower", cursive;
  padding: 0.5em 0.5em;
  border: 2px solid black;
  border-radius: 12% 88% 11% 89% / 91% 13% 87% 9%;
}

.start_test_div .start_now_btn:active {
  background-color: var(--pink);
}



/* --------------- RESULT PAGE --------------- */
.result_page{
  width: 100%;
  font-size: 3em;
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  background-color: var(--green);
  /* padding: 1em 1em; */
}
.result_page .results_page_navigation_div{
  display: flex;
  
}
.result_page .results_page_navigation_div .retest_button{
  font-family: "Indie Flower", cursive;
  font-size: 1em;
  background-color: var(--pink);
  border: 2px solid black;
  padding: 0.2em 0.2em;
  transition: transform .1s;
  
}
.result_page .results_page_navigation_div .retest_button:active{
  background-color: var(--light-pink);
  transform: scale(0.8);

}


.result_page .front_results_page{
  width: 100%;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */
}


.result_page .all_questions_div{
  padding: 1em 0em;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  justify-items: center;
}

.result_page .all_questions_div .question-serialno{
  padding: 0em 0.5em;
  max-width: 300px;
  background-image: url(../media/grid.jpg);
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.result_page .all_questions_div .question-serialno .q_numbers_div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.result_page .all_questions_div .question-serialno .q_numbers_div .upNum_div{
  display: flex;
  
}
.result_page .all_questions_div .question-serialno .q_numbers_di .downNum_and_sign_divv{
  display: flex;
}


.result_page .all_questions_div .question-serialno .answers_div {
  margin: 0.5em 0em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result_page .all_questions_div .question-serialno .answers_div .user_answer_div{
  width: 40%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.result_page .all_questions_div .question-serialno .answers_div .real_answer_div{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}




.is_correct{
  color: green;
}
.is_wrong{
  text-decoration: line-through;
  color: red;

}

/* --------------- VOLUME CONTROLL --------------- */
.volume_control_container{
  cursor: pointer;
}

.volume_control_container input{
  height: 30px;
}

.volume_control_container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.volume_control_container li{
  display: inline;
}

.volume_control_container img{
  width: 30px;
  height: 30px;
}
